Импортируем библиотеки.

In [1]:
import numpy as np
import pandas as pd
import sys
import warnings

warnings.filterwarnings('ignore')

In [2]:
main_df = pd.read_excel('Задание 5.0 2 версия.xlsx')
main_df

,FIO,Месяц,Профессия,Разряд,Оборудование,Вредность (балл.),Объем производства,Доход
0,Абрамов Е. Д.,2009-01-01,Уборщик,3,Пилигримовые станы,18,580,16638.000000
1,Абрамов Е. Д.,2009-02-01,Уборщик,3,Пилигримовые станы,18,790,16638.000000
2,Абрамов Е. Д.,2009-03-01,Уборщик,3,Пилигримовые станы,18,820,16638.000000
3,Абрамов Е. Д.,2009-04-01,Уборщик,3,Пилигримовые станы,18,1200,19396.411765
4,Абрамов Е. Д.,2009-05-01,Уборщик,3,Пилигримовые станы,18,1250,19790.470588
...,...,...,...,...,...,...,...,...
2395,Яковлев Д. И.,2009-08-01,Подручный вальцовщика,4,Прошивной стан,18,1180,21800.170588
2396,Яковлев Д. И.,2009-09-01,Подручный вальцовщика,4,Прошивной стан,18,1080,20885.876471
2397,Яковлев Д. И.,2009-10-01,Подручный вальцовщика,4,Прошивной стан,18,780,18783.000000
2398,Яковлев Д. И.,2009-11-01,Подручный вальцовщика,4,Прошивной стан,18,1020,20337.300000
2399,Яковлев Д. И.,2009-12-01,Подручный вальцовщика,4,Прошивной стан,18,810,18783.000000

In [3]:
# main_df['Оборудование'].value_counts()
# main_df['Профессия'].value_counts()

#### подумай: а оно надо?


Преобразование месяцев в числа. Заметим что все месяцы даны в формате timestamp, их диапазон от января по декабрь 2009 года (то есть данные приведены за один год, что сильно упрощает задачу)

In [4]:
main_df['Месяц'].max(), main_df['Месяц'].min()

(Timestamp('2009-12-01 00:00:00'), Timestamp('2009-01-01 00:00:00'))

С целью небольшой экономии памяти заменим месяцы в формате timesamp на числа формата int в диапазоне от 1 до 12.

In [5]:
for j in range(len(main_df['Месяц'])):
    main_df['Месяц'][j] = main_df['Месяц'][j].month

In [7]:
main

,FIO,Месяц,Профессия,Разряд,Оборудование,Вредность (балл.),Объем производства,Доход
0,Абрамов Е. Д.,1,Уборщик,3,Пилигримовые станы,18,580,16638.000000
1,Абрамов Е. Д.,2,Уборщик,3,Пилигримовые станы,18,790,16638.000000
2,Абрамов Е. Д.,3,Уборщик,3,Пилигримовые станы,18,820,16638.000000
3,Абрамов Е. Д.,4,Уборщик,3,Пилигримовые станы,18,1200,19396.411765
4,Абрамов Е. Д.,5,Уборщик,3,Пилигримовые станы,18,1250,19790.470588
...,...,...,...,...,...,...,...,...
2395,Яковлев Д. И.,8,Подручный вальцовщика,4,Прошивной стан,18,1180,21800.170588
2396,Яковлев Д. И.,9,Подручный вальцовщика,4,Прошивной стан,18,1080,20885.876471
2397,Яковлев Д. И.,10,Подручный вальцовщика,4,Прошивной стан,18,780,18783.000000
2398,Яковлев Д. И.,11,Подручный вальцовщика,4,Прошивной стан,18,1020,20337.300000
2399,Яковлев Д. И.,12,Подручный вальцовщика,4,Прошивной стан,18,810,18783.000000

Уберем из датафрейма месяцы и имена. Грубо приблизим, что оклад платится не подневно, а помесячно (то есть оклад не зависит от количества дней в месяце).

In [10]:
anon_df = main_df.drop(columns = ['FIO', 'Месяц'])

In [34]:
if 'Профессия' in  anon_df.columns or 'Оборудование' in anon_df.columns:
    anon_df = pd.get_dummies(anon_df, columns = ['Профессия', 'Оборудование'])

anon_df

,Разряд,Вредность (балл.),Объем производства,Доход,Профессия_Вальцовщик,Профессия_Контролер качества готовой продукции,Профессия_Нагревальщик металла,Профессия_Огнеупорщик,Профессия_Оператор поста управления,Профессия_Подручный вальцовщика,...,Профессия_Уборщик,Оборудование_Вспомогательные помещения,Оборудование_Калибровочный стан,"Оборудование_Калибровочный стан, ГРП",Оборудование_Контрольно-измерительная аппаратура,Оборудование_Нагревательные печи,"Оборудование_Нагревательные печи, кантовка","Оборудование_Нагревательные печи, нагрев",Оборудование_Пилигримовые станы,Оборудование_Прошивной стан
0,3,18,580,16638.000000,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
1,3,18,790,16638.000000,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,3,18,820,16638.000000,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
3,3,18,1200,19396.411765,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
4,3,18,1250,19790.470588,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2395,4,18,1180,21800.170588,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2396,4,18,1080,20885.876471,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2397,4,18,780,18783.000000,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2398,4,18,1020,20337.300000,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2399,4,18,810,18783.000000,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1

Обучим в первом приближении

In [70]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression, ElasticNetCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

y_anon_df = anon_df['Доход']
X_anon_df = anon_df.drop(columns = ['Доход'])

X_train, X_test, y_train, y_test = train_test_split(X_anon_df, y_anon_df, test_size = 0.3333, random_state = 23, shuffle = True)

# regr = RandomForestRegressor(max_depth=10, random_state=0)
regr = ElasticNetCV()
regr.fit(X_train, y_train)

y_calc = regr.predict(X_test)

# df = pd.DataFrame([regr.feature_names_in_, regr.feature_importances_]).T
# df = pd.DataFrame([regr.feature_names_in_, regr.coef_]).T
regr.coef_
# r2_score(y_test, y_calc)
# min(y_test - y_calc)

array([13.23707058, 23.61967103,  7.11927686,  1.59477522,  0.        ,
        0.44935443, -0.        , -0.        , -0.25909606, -0.        ,
       -0.        , -0.64750263, -0.        , -0.        , -0.        ,
        0.        ,  0.        ,  0.        ,  0.        , -0.        ,
        0.07540121])